.container {
  display: flex;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.square1 {
  display: flex;
  background-color: white;
  border: 1pt solid gray;
  height: 71.428571vh;
  width: 71.428571vw;
  margin: auto;
}

.square2 {
  display: flex;
  border: .75pt solid rgb(230, 230, 230);
  height: 42.857143vh;
  width: 42.857143vw;
  margin: auto;
}

.square3 {
  display: flex;
  background-color: black;
   width: 14.285714vw;
  height: 14.285714vh;
  margin: auto;
}

.container2 {
  display: flex;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.square4 {
  display: flex;
  background-color: white;
  border: 1pt solid gray;
  height: 71.428571vh;
  width: 71.428571vw;
  margin: auto;
}

.square5 {
  display: flex;
  background-color: black;
  height: 42.857143vh;
  width: 42.857143vw;
  margin: auto;
}

.square6 {
  display: flex;
  background-color: white;
   width: 14.285714vw;
  height: 14.285714vh;
  margin: auto;
}
