body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  overflow: hidden;
}

header {
  box-sizing: border-box;
  background: black;
  padding: 2rem;
  position: fixed;
  width: 100%;
  z-index: 100;
}

h1 {
  color: white;
}
.container {
  display: flex;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.square1 {
  display: flex;
  background-color: white;
  border: 1pt solid gray;
  height: 71.428571vh;
  width: 71.428571vw;
  margin: auto;
}

.square2 {
  display: flex;
  border: .75pt solid rgb(230, 230, 230);
  height: 42.857143vh;
  width: 42.857143vw;
  margin: auto;
}

.square3 {
  display: flex;
  background-color: black;
   width: 14.285714vw;
  height: 14.285714vh;
  margin: auto;
}

.container2 {
  display: flex;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.square4 {
  display: flex;
  background-color: white;
  border: 1pt solid gray;
  height: 71.428571vh;
  width: 71.428571vw;
  margin: auto;
}

.square5 {
  display: flex;
  background-color: black;
  height: 42.857143vh;
  width: 42.857143vw;
  margin: auto;
}

.square6 {
  display: flex;
  background-color: white;
  width: 14.285714vw;
  height: 14.285714vh;
  margin: auto;
}

.container3 {
  display: flex;
  background-color: white;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.square7 {
  display: flex;
  background-color: white;
  height: 71.428571vh;
  width: 71.428571vw;
  border: 1px solid black;
  margin: auto;
}

.square8 {
  height: 42.857143vh;
  width: 42.857143vw;
  margin: auto;
}

.lineblack {
  display: flex;
  height: 42.857143vh;
  width: 42.857143vw;
  margin: auto;
}

.line {
  display: flex;
  background-color: black;
  width: 1vw;
  height: 42.857143vh;
  margin: auto;
}

.line-left {
  display: flex;
  background-color: black;
  width: 1vw;
  height: 42.857143vh;
  margin: auto;
  margin-left: 0;
}

.line-right {
  display: flex;
  background-color: black;
  width: 1vw;
  height: 42.857143vh;
  margin: auto;
  margin-right: 0;
}

.subtraction-square {
  display: flex;
  width: 10.55vw;
  height: 14.285714vh;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: -28.17384281vh;
}

.line-2 {
  display: flex;
  background-color: white;
  height: 14.285714vh;
  width: 1pt;
  margin: auto;
  margin-top: -1vh;
}

.line-2-left {
  display: flex;
  background-color: white;
  width: 1pt;
  height: 14.285714vh;
  margin: auto;
  margin-left: 0;
  margin-top: -1vh;
}

.line-2-right {
  display: flex;
  background-color: white;
  width: 1pt;
  height: 14.285714vh;
  margin: auto;
  margin-right: 0;
  margin-top: -1vh;
}

.lineblack3 {
  display: flex;
  height: 42.857143vh;
  width: 42.857143vw;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: -57.125vh;
}

.line3 {
  display: flex;
  background-color: black;
  width: 1vw;
  height: 65vh;
  transform: rotate(-14.5deg);
  transform-origin: 0% 0%;
  margin: auto;
}

.line-left3 {
  display: flex;
  background-color: black;
  width: 1vw;
  height: 65vh;
  transform: rotate(-14.5deg);
  transform-origin: 0% 0%;
  margin: auto;
  margin-left: -5.5vh;
}

.line-right3 {
  display: flex;
  background-color: black;
  width: 1vw;
  height: 65vh;
  transform: rotate(-14.5deg);
  transform-origin: 0% 0%;
  margin: auto;
  margin-right: 0;
}

.subtraction-square4 {
  display: flex;
  width: 12vw;
  height: 14.285714vh;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: -85.3vh;
}

.line-4 {
  display: flex;
  background-color: white;
  height: 14.285714vh;
  width: 1pt;
  transform: rotate(-353deg);
  margin: auto;
  margin-top: -1vh;
}

.line-4-left {
  display: flex;
  background-color: white;
  width: 1pt;
  height: 14.285714vh;
  transform: rotate(-353deg);
  margin: auto;
  margin-left: 0.7vh;
  margin-top: -1vh;
}

.line-4-right {
  display: flex;
  background-color: white;
  width: 1pt;
  height: 14.285714vh;
  transform: rotate(-353deg);
  margin: auto;
  margin-right: 0.7vh;
  margin-top: -1vh;
}
